@charset "utf-8";

/* Skip Navigation */
#skipNav{position:relative;z-index:9999; text-align:center;}
#skipNav a{position: absolute; top: -200px; left:0; width:100%; line-height: 40px; border: 1px solid #dedede; background-color: #333; color:#fff; font-weight:bold;}
#skipNav a:focus,
#skipNav a:active{top: 0;}

/* RESET */
html,body{-webkit-text-size-adjust:none; color:#000; font-weight:400; line-height: 1.4; letter-spacing: -0.018em;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,img,div {margin:0; padding:0;}
body {position:relative; font-family: 'NanumSquare', 'malgun gothic','맑은 고딕', sans-serif; }
img,fieldset{border:0}
button {background:none; border:0; cursor:pointer;}
ul,ol{list-style:none}
input,select{vertical-align:middle; background:#fff;}
em,address,i{font-style:normal}
table{border-collapse:collapse; border-spacing:0px; empty-cells:show; table-layout:fixed}
legend,caption{visibility:hidden; width:0; height:0; margin:0; padding:0; font-size:0; line-height:0;}
a {text-decoration:none;color:#000;}
a:hover,a:focus {text-decoration:none;}
input,button,select {outline:none; border-radius:0;}

/* common */
.contents_top_btn_w {display:block; position:fixed; right:50px; bottom:50px;}
    .contents_top_btn {position:relative; width:70px; height:70px; background-color:#fff; }
        .icon_toparrow {display:block; position:absolute; left:50%; top:50%; margin:-12px 0 0 -23px; width:46px; height:24px; background-image:url('../img/arrow_top.png'); background-size:46px auto; background-repeat:no-repeat;}
.blind{position:absolute !important; width:1px; height:1px; overflow:hidden; clip:rect(1px 1px 1px 1px); clip:rect(1px, 1px, 1px, 1px);}
.ir {zoom:-10; z-index:-1; position:relative; display:block; width:100%; font-size:0px; text-align:center; white-space:nowrap; overflow:hidden;}
.icn {position:absolute; display:block; .display:inline; .zoom:1;  font:0/0 arial; vertical-align:middle; overflow:hidden; background-repeat:no-repeat; background-color:transparent; background-image:url('../img/set_icon.png'); background-size:500px auto;}
.wrap {background-color:#fff;}
.container {padding:158px 100px 0;}
    .content_inner {position:relative; padding-top:100px; max-width:1530px; box-sizing:border-box; margin:0 auto;}
        .section_box_w {max-width:1530px; margin:0 auto; box-sizing:border-box;}
            .section_title {display:block; position:relative; padding-left:43px; height:43px; line-height:43px; font-size:39px; font-weight:800; text-transform:uppercase;}
            .section_title:after {display:block; content:''; position:Absolute; left:0; top:0; width:9px; height:100%; background-color:#000;}
            /* 모듈 타이틀 : 서브공통 */
            [class^="content_title"] {display:inline-block; font-size:40px; text-transform:uppercase; font-weight:800;}
            .content_title {display:block !important; line-height:43px;}
                .content_info_text {margin-top:50px; font-size:24px; line-height:43px;}
                .content_info_text * {font-size:24px !important; line-height:40px !important; }
            /* 모듈 타이틀 : 서브공통 type bar */
            [class^="content_title_"] {padding-left:40px; position:relative; height:37px; line-height:37px;}
            .content_title_c {font-size:35px; height:37px !important; line-height:37px !important;}
            .content_title_d {margin-top:30px; font-size:28px; height:33px !important; line-height:33px !important;}
                [class^="content_title_"]:after {display:block; content:''; position:absolute; left:0; top:0px; width:11px; height:calc(100% - 2px); background-color:#000;}
                    .artist_name {display:inline-block; position:relative; left:2px; font-size:20px; color:#6b6b6b; font-weight:700;}
            .list_title_w {position:relative; margin-top:35px; }
                .list_title {position:relative; padding-left:35px; line-height:30px; font-size:28px; font-weight:800;}
                .list_title:after {display:block; content:''; width:11px; height:100%; position:Absolute; left:0; top:0; background-color:#000;}
                .list_title_w .list_title {float:left; }
                .list_title_w:after {display:block; content:''; clear:both;}

/* 팝업 */
.layer_popup_w {position:fixed; top:4rem; left:4rem; z-index:999; box-sizing:border-box; }
    .layer_popup_inner {display:inline-block; position:relative; max-width:500px;}
    .popup_image_w{background-color:#fff; position:Relative; box-sizing:border-box; }
    .popup_image_w:after {display:block; content:''; position:absolute; left:0; top:0; width:100%; height:100%; box-sizing:border-box; border:1px solid rgba(0,0,0,.1);}
        .popup_image {display:block; max-width:100%; margin:0 auto;}
    .btn_popup_close {position:absolute; right:-59px; top:0; display:block; width:60px; height:60px; border:1px solid #ddd; background-color:#fff;}
        .btn_popup_close .icon_close {left:50%; top:50%; margin:-19px 0 0 -20px; width:40px; height:38px; background-position:-195px 0; }

/* 모듈 : 리스트 */
[class^="module_list_"] {display:flex; margin-top:-82px; flex-wrap:wrap; justify-content:end;}
.swiper-button-color:after,.swiper-button-next:after,.swiper-button-prev:after {display:block; content:''; z-index:8; width:27px; height:48px; background-size:27px auto; background-position:center center; background-repeat:no-repeat;}
.swiper-button-color,
.swiper-button-prev, .swiper-button-next{background-image:none !important;}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
#artist_slide_swiper_container .swiper-button-next:after {background-image:url('../img/next_arrow.png') !important;}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after,
#artist_slide_swiper_container .swiper-button-prev:after {background-image:url('../img/prev_arrow.png') !important;}
.swiper-button-color:hover,
.swiper-button-color:focus {opacity:1;}
/* 공통: arrow 제어 */
#artist-thumb-swiper-pagination .swiper-button-next,
#artist-thumb-swiper-pagination .swiper-button-prev {top:auto; bottom:0;}
:root{--swiper-theme-color:#000 !important;}
#artist-thumb-swiper-container .swiper-button-next:after,
#business-artgg-image-swiper-container .swiper-button-next:after {background-image:url('../img/next_arrow_black.png') !important;}
#artist-thumb-swiper-container .swiper-button-prev:after,
#business-artgg-image-swiper-container .swiper-button-prev:after {background-image:url('../img/prev_arrow_black.png') !important;}
#artist-thumb-swiper-container .swiper-button-prev{left:-40px !important;}
#artist-thumb-swiper-container .swiper-button-next{right:-40px !important;}

/* 공통 lnb */
.snb_current {display:block; }
.common_gnb_w {position:fixed; left:0; top:0; z-index:100; width:100%; height:158px; padding:58px 100px 0; box-sizing:border-box; background-color:#fff;}
    .artgg_lnb_w {position:relative; z-index:10; margin:0 auto; box-sizing:border-box; width:100%; max-width:1530px; background-color:#fff;}
    .artgg_lnb_w:after {display:block; content:''; clear:both;}
        .artgg_h1_logo {position:Relative; float:left; z-index:98; width:315px; height:100px;}
            .logolink_main {display:block; position:relative; width:100%; height:100%;}
                .icon_logo_gnb {top:50%; left:0; margin-top:-30px; width:192px; height:60px; background-position:0 0;}
        .artgg_lnb_inner {float:left; width:calc(100% - 315px);}
            .artgg_allmenu_w {display:none;}
                .artgg_lnb {position:relative; right:0; display:flex; justify-content:space-between; z-index:100; height:100px; margin:0 auto; box-sizing:border-box;}
                    .slnb_inner {position:relative; height:100px; transition: all ease-in-out 0.5s;}
                        .slnb_inner.last .artgg_snb {right:15px;left:auto;}
                        .slnb_inner.last .ssnb_link {text-align:right;}
                            .slnb_link {position:relative; overflow:hidden; display:inline-block; height:100%; line-height:112px; letter-spacing:0.5px; font-size:18px; color:#151515; max-width:180px; font-weight:800; text-transform:uppercase;}
                            .slnb_link:hover, .slnb_link:active, .slnb_link:focus {text-decoration:none !important;}
                                .slnb_txt_box {display:block; position:relative; top:50%; margin-top:-16px; padding:0 2px; overflow:hidden; max-width:180px; height:33px; line-height:33px; letter-spacing:0.5px; text-overflow:ellipsis; white-space:nowrap;transition: all ease-in-out 0.2s;}
                                .menu_hover .slnb_link:before,
                                .slnb_link.current:before {display:block;}
                                .icon_menu_arrow {display:none;}


.artgg_snb {position:absolute; top:-1000px; left:0; overflow:hidden; width:170px; height:0; opacity:0; transition:opacity 0.5s ease 0s; }
.slnb_inner.menu_hover .artgg_snb {height:220px !important; opacity:1; top:100px;}
.ssnb_inner:first-child .ssnb_link { padding:32px 0 8px;}
.ssnb_link {display:block;  font-size:15px; font-weight:400; color:#808080; padding:8px 0;  transition: color .2s ease;}
.ssnb_link:hover,.ssnb_inner.current .ssnb_link {text-decoration:none; width: 100%; left: 0; color:#fff;}
.ssnb_txt_box {position:relative; z-index:2; padding:0 4px; display:inline-block;}
.ssnb_txt { transition:color 0.5s;}
.ssnb_link:hover .ssnb_txt {color:#fff;}
.ssnb_link:hover .ssnb_txt_box:after,.ssnb_link:hover .ssnb_txt_box:before {width:100%;}
.slnb_link:hover .slnb_txt_box:after,.slnb_link:hover .slnb_txt_box:before,
.slnb_link.current .slnb_txt_box:after,.slnb_link.current .slnb_txt_box:before {width:100%; }
.ssnb_txt_box:after,.ssnb_txt_box:before,
.slnb_txt_box:after,.slnb_txt_box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
    width: 0;
    height:21px;
}
/* lnb bg효과 */
.ssnb_txt_box:before {
    transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    background: #898989;
}
.ssnb_txt_box:after {
    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: #898989;
}
/* gnb 보더효과 */
.slnb_txt_box:before {
    transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    background: #fff;
    height:4px !important;
    top:auto;
    bottom:0;
    left:0;
}
.slnb_txt_box:after {
    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: #898989;
    height:4px !important;
    top:auto;
    bottom:0;
    left:0;
}
/* 메뉴current일 경우 */
.ssnb_inner.current .ssnb_txt_box:after{width:100%;}
.slnb_link.current .slnb_txt_box:after {width:calc(100% - 5px);}
.ssnb_txt {position:Relative; z-index:2;}

.snb_bg {position:absolute; z-index:99; top:100px; left:50%; height:0; display:none; margin-left:-1280px; width:2560PX; background-color:rgba(255,255,255,0.95); transition: height 0.2s ease 0s;}
.snb_bg:after {
    display: block; content: ''; background:#ccc; opacity:0.4; position: absolute; left: 0; bottom: 0; z-index: 2; width: 100%; height: 2px;}
.lnbtype_main .snb_bg:after {opacity:1 !important;
    background: -moz-linear-gradient(left,  rgba(204,204,204,0) 0%, rgba(204,204,204,0.15) 50%, rgba(204,204,204,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(204,204,204,0) 0%,rgba(204,204,204,0.15) 50%,rgba(204,204,204,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(204,204,204,0) 0%,rgba(204,204,204,0.15) 50%,rgba(204,204,204,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccc', endColorstr='#00cccccc',GradientType=1 ); /* IE6-9 */
}
.snb_bg.snb_current {display:block; height:230px !important;}
.language_select_w {position:absolute; right:50%; top:39px; z-index:101; margin-right:-593px; overflow:hidden; transition: all ease-in-out 0.2s;}
.btn_language {display:block; position:relative; float:left; width:45px;  height:30px; line-height:30px; text-align:center; font-weight:400; color:#151515; opacity:0.4;}
.btn_language:hover {text-decoration:none;}
.lang_txt {display:block; font-size:13px; font-weight:400; letter-spacing:-0.65px; }
.lang_check {display:block; position:absolute; left:18px; top:0; width:8px; height:8px; background-position:-40px -70px; transition: all ease-in-out 0.3s;}
.lang_check.lang_eng {left:63px;}
.btn_language.current {opacity:1;}
/* 텍스트 흰색 */
.lnbtype_main .btn_language {color:#fff; }
.lnbtype_main .lang_check {background-position:-40px -80px;}

/* 메인 lnb 텍스트 흰색 */
.lnbtype_main {}
.lnbtype_main .artgg_lnb_w {background-color:transparent;}

/* 스크롤 lnb */
.sticky {padding-top:0 !important; height:100px; background-color:#fff !important;  transition: all ease-in-out 0.3s;}
.sticky .artgg_lnb_w {height:100px;}
.sticky .artgg_logo {width:142px; height:50px; top:12px; }
.sticky .artgg_lnb,.sticky .slnb_inner {height:100px;}
.sticky .snb_bg,.sticky .slnb_inner.menu_hover .artgg_snb {top:100px;}

/* 공통 : footer */
.footer {max-width:1430px; margin:0 auto 0; padding:170px 100px 100px; color:#6b6b6b;;}
    .footer_inner {display:table; width:100%; overflow:hidden;}
        [class^="footer_cont_"] {display:table-cell; vertical-align:middle; width:30%;}
        .footer_cont_l {width:40% !important; overflow:hidden;}
            .footer_cont_l [class^="fcl_"] {width:50%; padding-right:10%; float:left; box-sizing:border-box;}
                .footer_cont_l [class^="fcl_"] img {display:block; max-width:100%;}
        .footer_cont_copy {padding-left:2%; font-size:12px;}
            .footer_cont_copy [class^="fcc_"] {display:inline-block;}
                .fcc_copy {display:block !important; }
                .fcc_tel{}
                .fcc_email {}
        .footer_cont_r {}
            .fcr_sns_list {overflow:hidden;}
                .fcr_sl_cont {float:left; width:25%; text-align:right;}
                    .fcr_sl_link {display:block; padding:0 12%;}
                        [class^="sns_icon_"] {display:inline-block; max-width:100%;}
                        .sns_icon_facebook {}
                        .sns_icon_insta {}
                        .sns_icon_youtube {}
                        .sns_icon_blog {}

/* 메인 : 비주얼 */
.section_visual_w {max-width:1530px; margin:0 auto; box-sizing:border-box; padding-bottom:50px; overflow:hidden;}
    /* 비주얼 swiper */
        .swiper-wrapper {position:absolute; left:0; top:0;}
    #business-artgg-image-swiper-container .swiper-pagination {bottom:0; }
    .swiper-pagination-bullet {width:15px; height:15px; border-radius:50%; background-color:#898989;}
    .swiper-pagination-bullet-active {width:44px; height:16px; background-color:#000; border-radius:15px;}
    #main-swiper-container .swiper-slide {background-size:100% auto !important; background-repeat:no-repeat !important;}


/* 메인 : 공지사항 */
.section_notice_w {position:relative; margin-top:170px; min-height:300px; display:flex;}
.section_notice_w:after {display:block; content:''; clear:both;}
    .notice_cont_l {float:left; width:50%;}
        .notice_list {padding-top:30px; }
            .nl_inner {margin-top:30px;}
                .nl_cont {position:relative; display:block;}
                    .nl_text {display:block; position:relative; padding-left:43px; height:30px; line-height:30px; box-sizing:border-box; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:27px; font-weight:400;}
                    .nl_text:after {display:block; content:''; position:absolute; left:0; top:0; width:9px; height:100%; background-color:#000;}
                    .nl_date {display:block; padding-left:43px; height:20px; line-height:20px; margin-top:10px; font-size:21px; color:#6b6b6b;}
    .notice_cont_r {float:right; width:50%; position:relative;}
        .notice_slide_w {position:absolute; left:50%; top:50%;}


/* 메인 : 추진사업 */
.section_service_w {margin-top:170px; }
    .service_list_w {}
        .service_list {display:flex; flex-wrap:wrap; width:calc(100% + 30px);}
        .service_list_w:after,
        .service_list:after {display:block; content:''; clear:both;}
            .sl_inner {position:relative; width:25%; padding-right:30px; box-sizing:border-box; margin-top:33px;}
            .sl_cont:after {display:block; content:''; box-sizing:border-box; position:absolute; left:0; top:0; width:100%; height:100%; border:1px solid rgba(0,0,0,.08);}
                .sl_cont {position:relative; display:block; height:100%; color:#6b6b6b; }
                    .sl_box_inner {width:100%; box-sizing:border-box;}
                        .sl_box_text {position:relative; padding:12% 9% 70px; min-height:285px; box-sizing:border-box;}
                            .sl_text_top {position:relative; z-index:2; padding-right:30%; line-height:1.4; /*font-family:'malgun gothic','맑은 고딕', sans-serif;*/}
                                .slt_num {position:absolute; right:0; top:0; display:inline-block; height:45px; line-height:45px; font-size:3em; font-weight:800; color:#6b6b6b; font-family:'NanumSquare';}
                                .slt_info {position:relative; display:block; padding-top:20px; font-size:15px; font-weight:800; letter-spacing:-0.06em;}
                                .slt_info:after {display:block; content:''; position:Absolute; left:0; top:0; width:26px; height:2px; background-color:#6b6b6b;}
                                .slt_date,
                                .slt_date_text {display:block; margin-top:3px; font-size:13px;}
                                .slt_text  {margin-top:15px; position:relative; z-index:2; font-size:13px; font-weight:400; line-height:1.5; display: -webkit-box; -webkit-box-orient: vertical;  -webkit-line-clamp: 4; overflow: hidden; text-overflow: ellipsis; font-family:'malgun gothic';}
                                .slt_name {display:block; padding:0 9%; position:absolute; left:0; bottom:17px; z-index:2; font-size:27px; font-weight:700; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; box-sizing:border-box; width:100%;}
                                .box_picker {display:block; position:absolute; left:-10px; top:50%; margin-top:-30px; z-index:1; margin-left:-30px; width:60px; height:60px; transform:rotate(45deg); background-color:#53ae6e; }
                        .sl_box_image_w {position:relative; padding-bottom:100%; overflow:hidden; box-sizing:border-box;}
                        /*.sl_box_image_w:after {display:block; content:''; position:absolute; left:0; bottom:0; width:100%; height:1px; background-color:rgba(0,0,0,.1);}*/
                            .sl_img:before { display: block; content: "";z-index: 1; position: absolute; top: 0;left: 0; width: 100%; height: 100%; box-sizing: border-box; border: 1px solid rgba(0,0,0,.1);}
                            .sl_box_image {display:block; height:100%;}
                        .sl_box_image {right: 0; width: 100%; transform: translate(50%,50%);}
                        .sl_img,.sl_box_image {position: absolute; top: 0; left: 0; height: 100%;}
                                .sl_img {display: block; width: auto; transform: translate(-50%,-50%);}

/* 메인 : 아트경기 소개 */
.section_info_w {overflow:hidden; position:relative; display:table; width:100%; min-height:297px; margin-top:170px;}
    .info_image {display:table-cell; width:13%; max-width:263px; vertical-align:top; }
        .info_img {display:inline-block; max-width:100%; height:auto;}
    .info_text_w {display:table-cell; padding-top:1%; padding-left:7%; max-width:980px; box-sizing:border-box; vertical-align:top; font-size:26px; line-height:1.5; font-weight:400;}

/* 서브 : 작가리스트 */
.module_image_list_w {margin-top:170px; overflow:hidden;}
    .module_image_list {position:relative; margin-top:-82px; display:flex; flex-wrap:wrap; width:calc(100% + 82px);}
        .mdil_inner {width:25%; padding:82px 82px 0 0; box-sizing:border-box;}
            .mdil_cont {display:block; position:relative; padding-top:100%; overflow:hidden;}
                .mdil_thumb_w {display:block; position:relative;}
                    .mdil_image {display:block; width:100%; -webkit-transition: 0.2s; transition: 0.2s;}
                    .module_image_list .mdil_cont:hover .mdil_image {transform:scale(1.2); left:-50%; top:-50%;}
                        .mdil_thumb_w {right: 0; width: 100%; transform: translate(50%,50%);}
                        .mdil_image,.mdil_thumb_w {position: absolute; top: 0; left: 0; height: 100%;}
                            .mdil_image {display: block; width: auto; transform: translate(-50%,-50%);}
                    .module_image_list .mdil_text_w {display:none; position:Absolute; left:0; top:0; width:100%; height:100%; font-size:18px; line-height:26px; color:#fff; background-color:rgba(0,0,0,.5); text-align:center;}
                    .mdil_text {display:table-cell; padding:0 13%; width:100%; height:100%; vertical-align:middle; box-sizing:border-box;}
                    .module_image_list .mdil_cont:hover .mdil_text_w,
                    .module_image_list .mdil_cont:focus .mdil_text_w {display:table;}
    .module_image_list_w .mdil_cont:hover:before {display:block;}
    .list_more_w {display:block; margin:80px auto 0; width:50px; height:50px; position:Relative; border-radius:100%; border:1px solid #dfdfdf; background-color:#fff; }
        .list_more_text {position:Absolute; left:50%; top:50%; margin:-5px 0 0 -10px; width:19px; height:11px; background-image:url('../img/arrow_list_more.png'); background-repeat:no-repeat; background-position:left top;}

/* 서브 : 작가리스트 엔드 */
.section_artist_w {margin-top:140px;}
.section_artist_w img {max-width:100%;}
    .artist_slide_w {}
        .slide_text_w {margin-top:25px; padding-left:10px; }
            .slide_text_title {font-size:27px; font-style:italic; font-weight:800;}
                .slide_info_list {font-size:16px;}
                    .sil_cont {display:block; margin-top:5px;}
        /* 작가리스트 엔드 : 슬라이드 */
        #artist_slide_swiper_container .swiper-button-color:before,
        #main-swiper-container .swiper-button-color:before {display:block; content:''; position:absolute; z-index:7; width:100px; height:100px; border-radius:100%; background-color:#000; opacity:0.2;}
        #artist_slide_swiper_container .swiper-button-color:hover:before,
        #main-swiper-container .swiper-button-color:hover:before {opacity:0.7;}
        #artist_slide_swiper_container .swiper-button-prev:before,
        #main-swiper-container .swiper-button-prev:before { left:-50px; top:-30px; }
        #artist_slide_swiper_container .swiper-button-next:before,
        #main-swiper-container .swiper-button-next:before {left:-20px; top:-30px; }
        .swiper-button-color:after {position:Relative; opacity:0.4;}
        .swiper-button-color:hover:after {opacity:1;}
        .swiper-button-color {color:#fff !important;}
        .swiper-button-color .swiper-button-next:after,
        .swiper-button-color .swiper-button-prev:after {position:relative; z-index:2;}
        .swiper-slide-item-caption {text-align:left; padding-top:10px; font-style:italic;}
        .artist_slide_w .swiper-pagination {bottom:0;}
        .artist_slide_w .slick_slide_list {padding-bottom:0;}
            .artist_slide_w .slick-dots {bottom:auto; top:20px; right:20px;}
            .artist_slide_w .slick-arrow {top:33%; margin-top:0 !important;}
        #artist_slide_swiper_container {padding:30px 0; }
        #artist_slide_swiper_container .swiper-pagination {top:0; text-align:right;}
        /* 작가리스트 엔드 : 이력 */
        .article_artist_box {margin-top:170px;}
            .artist_box_list {margin-top:50px; }
                .abl_inner,
                .article_artist_box * {margin-top:20px !important; font-size:24px !important; line-height:24px !important;  }
                .article_artist_box > * {padding-left:40px !important; font-family:'malgun gothic','맑은 고딕', sans-serif !important;}
                .content_title_c + * {margin-top:30px !important; }
                .article_artist_box .content_title_c {font-size:33px !important; line-height:33px !important; font-family:'NanumSquare' !important;}
                .abl_inner:first-child,
                .article_artist_box p:first-child {margin-top:0 !important;}
            .artist_qa_list {margin-top:70px;}
                .aql_inner {font-size:27px; padding-bottom:100px;}
                .aql_inner:last-child {padding-bottom:0;}
                    [class^="qa_text_"] {position:relative; display:block; padding-left:70px; min-height:70px; font-weight:700;}
                    .qa_text_q {line-height:70px;}
                    .qa_text_a {margin-top:25px; line-height:50px;}
                        .qat_title {position:absolute; left:0; top:0; font-size:50px; font-weight:800;}

/* 서브: 프로그램리스트 */
.select_box_w {float:right; position:relative; top:-2px;}
    .select_box_w select { font-family:'NanumSquare' !important; width:175px; height:35px; padding-left:20px; box-sizing:border-box; font-size:28px; color:#53ae6e; border:0; background:url('../img/select_arrow.gif') 122px center no-repeat; background-color:#fff; appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none; font-weight:800;}
    .select_box_w select::-ms-expand {display:none;}
        .select_box_w option { background-color:#53ae6e; color:#fff;}
.section_programlist_w {overflow:hidden; margin-top:130px; }
    .program_list {display:flex; flex-wrap:wrap;  margin-top:-100px; width:105%; justify-content:end;}
        .pl_inner {width:25%; padding:100px 5% 0 0; box-sizing:border-box;}
            .pl_cont {display:block;}
                .program_thumb_w {display:block; position:relative; overflow:hidden;}
                .program_thumb_w:after {display:block; content:''; position:absolute; left:0; top:0; width:100%; height:100%; box-sizing:border-box; border:1px solid rgba(0,0,0,.1);}
                    .program_image {display:block; width:100%; -webkit-transition: 0.2s; transition: 0.2s;}
                    .pl_cont:hover .program_image {transform:scale(1.2);}
                .program_text_w {padding-top:10px; letter-spacing:-0.06em;}
                    [class^="ptext_"] {display:block; margin-top:10px; position:relative; padding-left:22px; line-height:1.2em; font-size:17px; font-weight:700;}
                    .ptext_name {font-size:20px !important; font-weight:700 !important;}
                    .ptext_name:after {display:block; content:''; position:absolute; left:0; top:2px; width:6px; height:100%; background-color:#000; }
                    .ptext_date {}

/* 서브: 프로그램 엔드 */
.section_program_w {}
    .program_poster_w {margin-top:80px; }
        .poster_image {display:block; max-width:100%;}
    .program_name_w {margin-top:30px; font-size:37px; font-weight:800;}
        .pn_title {display:inline-block; font-weight:800; margin-right:25px; }
        .pn_collaborate {display:inline-block; padding-left:50px; position:relative;}
        .pn_collaborate:after {display:block; content:''; position:absolute; left:0; top:20%; width:7px; height:60%; background-color:#000;}
        .pn_date {display:block; margin-top:10px; font-size:28px; color:#53ae6e;}
    .program_info_text_w {}
        .program_info_box {margin-top:130px;}
            .info_title {display:block; font-size:40px; color:#53ae6e; font-weight:800;}
            .info_cont,
            .info_cont p span {display:block !important; font-size:27px !important; color:#000 !important; line-height:55px !important; font-weight:700 !important; font-family:'NanumSquare', 'malgun gothic','맑은 고딕', sans-serif !important;}
            .info_cont {padding-top:10px;}
    /* 갤러리 */
    .pg_gallery_w .module_image_list_w {margin-top:10px;}
        .program_down_w {margin-top:130px;}
            .button_down_text {display:block; font-size:40px; font-weight:700; color:#53ae6e; }
            .button_down_text+.button_down_text {margin-top:10px;}
                .btn_dw_txt {display:inline-block; position:relative; padding-bottom:2px;}
                .btn_dw_txt:after {display:block; content:''; position:Absolute; left:0; bottom:0; width:100%; height:3px; background-color:#53ae6e;}
    /* 오시는길 */
    .roadmap_box {width:100%; height:auto; min-height:415px; position:relative;}
    .roadmap_box:after {display:block; content:''; position:Absolute; left:0; top:0; box-sizing:border-box; width:100%; height:100%; border:1px solid rgba(0,0,0,0.05); }

/* 서브: 사업소개 */
.business_info_w {}
    .section_artgg_text {display:table; overflow:hidden; position:relative; padding-left:650px; min-height:410px;}
        .bns_artgg_logo {display:table-cell; position:absolute; left:0; top:0; width:300px; height:300px;}
        .bns_text {display:table-cell; vertical-align:middle; padding-left:20px; font-size:24px; box-sizing:border-box; font-weight:700; word-break:keep-all;}
    /* 협력사업자 */
    .business_list_box {margin-top:130px;}
        .business_info_w .module_image_list_w {margin-top:90px;}
            .business_info_w .module_image_list {margin-top:-100px; width:112.5%;}
                .business_info_w .mdil_inner {width:33.3%; padding:100px 12.5% 0 0;}
        .business_info_w .mdil_cont:after {display:block; content:''; position:absolute; left:0; top:0; width:100%; height:100%; border:10px solid #53ae6e; box-sizing:border-box;}
    /* 아트경기작가 */
    .artgg_artist_list_box {margin-top:130px;}
        .artgg_artist_list {margin-top:25px; width:calc(100% + 25px);}
            .all_link {position:relative; padding-bottom:5px;}
            .all_link:after {display:block; position:absolute; left:0; bottom:0; content:''; width:0; height:3px; background-color:#53ae6e; transition:width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .02s;}
            .all_link:hover:after {width:100%;}
                .aal_name {display:inline-block; font-size:24px; padding:15px 25px 0 0;}
/* 뷰잉룸 */
.viewing_info_w {margin-top:100px; overflow:hidden; min-height:140px; position:Relative; padding:15px 0 15px 250px; border:1px solid #eaeaea; border-width:1px 0;}
    .viewing_image_w {position:absolute; left:0; top:15px; width:250px; }
        .viewing_img {display:block; width:100%; }
    .viewing_text_w {width:100%; padding:0 15px; box-sizing:border-box;}
        .viewing_text_w [class^="vt_"] {display:block; margin-top:15px; position:relative; font-size:14px;}
        .vt_sub_title {display:inline-block !important; font-size:65%;}
        .vt_title {font-size:24px !important;}
        .vt_name {}
        .vt_text{}
.viewing_cont_w {margin-top:15px;}



/* 공지사항 상세 */
.board_view_area {margin-top:100px;}
    .top_title_faq {display:table; width:100%; overflow:hidden; height:50px; background-color:#343a40; color:#fff; }
        .board_title {display:table-cell; vertical-align:middle; width:100%; padding:0 15px; box-sizing:border-box; font-size:20px; font-weight:700;}
        .stit_area {margin-top:15px; width:100%; text-align:right; box-sizing:border-box; }
            [class^="stit_regist"] {display:inline-block; position:Relative; padding:0 15px 0 16px; box-sizing:border-box; font-size:14px; line-height:14px; color:#888; overflow:hidden;}
            [class^="stit_regist"]:after {display:block; content:''; width:1px; height:18px; position:Absolute; left:0; top:0; background-color:#888; }
            [class^="stit_regist"]:first-child:after {display:none;}
            .stit_regist_end {}
                .stit_text {width:50%;}
                .stit_date {padding-left:10px; box-sizing:border-box;}
    .view_area {padding:30px 20px; border-bottom:2px solid #343a40;}
    .view_area * {font-size:20px !important; line-height:32px !important;}
    .button_box_w {display:block; text-align:right;}
        .button_board_list {display:inline-block; margin-top:20px; padding:10px 15px; border-radius:5px; color:#fff; background-color:#343a40; font-weight:700; }
        .button_board_list:hover {text-decoration:underline;}
            .btn_bl_text {}

/* 보도자료 */
.report_list_w {margin-top:50px;}
    .report_list_table {width:100%; border:2px solid #343a40; border-width:2px 0;}
        .report_list_table th {height:50px; border-bottom:2px solid #343a40; font-size:22px;}
        .report_list_table td {padding:0 10px; box-sizing:border-box; height:45px; border:1px solid #ebebeb; border-width:1px 0; text-align:center;}
        .table_title {padding-left:2% !important; text-align:left !important;}

/* 보도자료 텍스트리스트 */
.section_report_w {margin-top:100px; overflow:hidden;}
    .text_link_list {padding-bottom:5px; }
        .tl_inner {position:Relative; width:100%; padding-right:5%; min-height:80px; box-sizing:border-box; }

.tl_cont {
    display:table;
    position:Relative;
    width:100%;
    height:100%;
    padding:2% 3%;
    box-sizing:border-box;
    float: right;
    border: 2px solid transparent;
    cursor: pointer;
    line-height: 36px;
    /*margin-right: -44px;*/
    font-size: 17px;
    font-weight:700;
}
.tl_cont:hover {opacity:1;}

.tl_cont .text {
    padding-left:20px;
    transform: translate3d(0,6px,0);
    display:table-cell; vertical-align:middle; line-height:24px;
    transition: transform .4s cubic-bezier(.2,0,0,1) .4s
}
.tl_cont .text:after {display:block; content:''; position:Absolute; left:0; top:1px; width:3px; height:22px; background-color:#000;}
/*.tl_cont:after { position: absolute; content: ''; bottom: -5px; left: 0; right:0; height: 1px; background: #ddd; transition: transform .8s cubic-bezier(1,0,.37,1) .2s,right .2s cubic-bezier(.04,.48,0,1) .6s,left .4s cubic-bezier(.04,.48,0,1) .6s; transform-origin: left;}*/

.line {
    position: absolute;
    background: #000;
}

.line.-left, .line.-right {
    width: 2px;
    bottom: 0;
    top: 0;
    transform: scale3d(1,0,1);
}

.line.-bottom, .line.-top {
    height: 2px;
    left: 0;
    right: 0;
    transform: scale3d(0,1,1);
}

.line.-right {
    right: 0;
    transition: transform .1s cubic-bezier(1,0,.65,1.01) .23s;
    transform-origin: top;
}

.line.-top {
    top: 0;
    transition: transform 80ms linear .43s;
    transform-origin: left;
}

.line.-left {
    left: 0;
    transition: transform 80ms linear .51s;
    transform-origin: bottom;
}

.line.-bottom {
    bottom: 0;
    transition: transform .3s cubic-bezier(1,0,.65,1.01);
    transform-origin: right;
}

.tl_cont:active .text,
.tl_cont:hover .text {
    transform: translate3d(0,0,0);
    transition: transform .6s cubic-bezier(.2,0,0,1) .2s;
}

.tl_cont:active:after,
.tl_cont:hover:after {
    transform: scale3d(0,1,1);
    right: 0;
    left: 0;
    transform-origin: right;
    transition: transform .2s cubic-bezier(1,0,.65,1.01) .17s,right .2s cubic-bezier(1,0,.65,1.01),left 0s .3s
}

.tl_cont:active .line,
.tl_cont:hover .line {
    transform: scale3d(1,1,1);
}

.tl_cont:active .line.-right,
.tl_cont:hover .line.-right {
    transition: transform .1s cubic-bezier(1,0,.65,1.01) .2s;
    transform-origin: bottom;
}

.tl_cont:active .line.-top, .tl_cont:hover .line.-top {
    transition: transform 80ms linear .4s;
    transform-origin: right
}

.tl_cont:active .line.-left, .tl_cont:hover .line.-left {
    transition: transform 80ms linear .48s;
    transform-origin: top;
}

.tl_cont:active .line.-bottom, .tl_cont:hover .line.-bottom {
    transition: transform .5s cubic-bezier(0,.53,.29,1) .56s;
    transform-origin: left;
}

/* 아트샵 */
.ready_service_area {padding:5%; margin-top:100px; border:2px solid #000; text-align:center;}
    .rsa_cont {display:block; margin-top:15px; line-height:24px;}
    .rsa_title {position:relative; display:inline-block; font-size:24px; }
    .rsa_title:before {display:block; content:''; position:Absolute; left:0; bottom:0; width:100%; height:17px; transition:width .4s cubic-bezier(.51,.18,0,.88) .1s; background-color:#53ae6e; opacity:0.2;}
    .rsa_list {margin-top:20px;overflow:hidden;}
        .rsa_inner {min-height:22px; margin-top:5px;}
            .rsa_link {display:block; position:Relative; padding-left:50%;}
                .rsa_name {display:inline-block; position:Absolute; left:0; top:0; width:50%; text-align:right;}
                .rsa_number {display:inline-block; width:100%; padding-left:15px; text-align:left; box-sizing:border-box;}

/* 미디어룸 */
.section_mediaroom_w {margin-top:130px; overflow:hidden;}
    /* 영상영역 */
    .mediaroom_vod_w {float:left; width:65%;}
        .vod_inner_box {width:100%; padding-top:56.25%; position:relative;}
        .vod_inner_box:before {display:block; content:''; position:Absolute; left:0; top:0; width:100%; height:100%; box-sizing:border-box; border:1px solid #ddd;}
        .vod_inner_box iframe {position:absolute; left:0; top:0; width:100% !important; height:100% !important;}
            .vod_info_text {display:block; padding:5% 3%; font-size:24px; line-height:34px; border:1px solid #ddd; border-top:0; box-sizing:border-box;}
    /* 리스트 */
    .module_media_list_w {width:35%; float:right; overflow:hidden; overflow-y:auto; padding:1% 2%; border:1px solid #ddd; border-width:1px 1px 1px 0; box-sizing:border-box;}
        [class^="horizontal_thumbnail_w"] {}
            .ht_inner {}
                .ht_link {display: block; padding: 10px 0;position: relative;height: 86px;line-height: 86px;color: #333;}
                .ht_link:hover .ht_title {text-decoration:underline;}
                    .ht_img_w {display: block; overflow: hidden; position: absolute; top: 10px; left: 0;width: 152px;padding-bottom: 85px;}
                        .ht_img,.ht_img_w:before {top:0; width:100%; display:block; position:absolute; left:0;}
                        .ht_img_w:before {z-index: 2;content: '';box-sizing: border-box; height: 100%;border: 1px solid rgba(0,0,0,.1);}
                        .ht_img { z-index: 1; height: auto;min-height:100%;}
                        .ht_img_w .icon_play {bottom: 8px;left: 8px;}
                        .ht_cont_w {display: inline-block;padding-left: 162px;vertical-align: middle; max-width: 100%; box-sizing: border-box;}
                            .ht_title_w { display: block; margin: 0 0 8px;font-weight: 400;font-size: 14px;}
                            .horizontal_thumbnail_w_type2 .ht_title_w {margin: 0 0 5px;}
                                .ht_title {display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; max-height:40px;  line-height:19px;}
                                    .ht_subtxt,.ht_txt {display: block; overflow: hidden; text-overflow: ellipsis;}
                                    .ht_txt {line-height:19px; height: 20px; font-weight:700;}
                                    .ht_subtxt {display: -webkit-box; line-height: 16px; max-height: 32px; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
            .current .ht_img_w:before {background-color:rgba(16,156,232,.5);}


/* 메인 : pc 중간 제어 */
@media screen and (max-width:1350px) {
    .container{padding:158px 40px 0;}
    .common_gnb_w {padding:58px 40px 0;}
    .sl_inner {width:33.3%;}
    /* pc:작가리스트 */
    .module_image_list_w {margin-top:240px;}
        .module_image_list {margin-top:-62px; width:calc(100% + 62px);}
            .mdil_inner {width:25%; padding:62px 62px 0 0;}
    .info_text_w {font-size:24px;}
    /* pc:footer */
    .footer{padding:170px 40px 200px;}
}

/* 메인 : 태블릿 제어 */
@media screen and (max-width:970px) {
    /* T:GNB  */
    .common_gnb_w{padding:28px 25px 0;}
    .artgg_h1_logo {width:170px;}
        .icon_logo_gnb {margin-top:-16px; width:104px; height:32px; background-position:0 0;}
    .artgg_lnb_inner {width:calc(100% - 170px);  height:100px;}
        .artgg_lnb_w {height:100px;}

    /* T:팝업 */
    .layer_popup_inner {width:400px; }
    .btn_popup_close {right:-59px; padding-left:10px;}
        .btn_popup_close .icon_close {margin:-10px 0 0 -11px; width:22px; height:21px; background-position:-110px 0;}

    /* T:공통 */
    .icn {background-image:url('../img/t_set_icn.png'); background-size:210px auto;}
    .container {padding:158px 25px 0;}
        .content_inner {padding:0;}
            [class^="content_title"] {font-size:30px !important; line-height:33px !important;}
            [class^="content_title_"]{padding-left:27px !important; height:30px; }
            [class^="content_title_"]:after {width:7px;}
            .content_title_d {margin-top:25px; padding-left:27px; font-size:35px; height:40px !important; line-height:40px !important;}
            .content_title_c {font-size:47px; height:30px !important; line-height:30px !important; }
                .artist_name {font-size:18px; left:2px;}
    /* T:footer */
    .footer {margin-top:140px; padding:0 25px 70px; }
    .contents_top_btn_w {right:10px; bottom:10px;}
        .contents_top_btn {width:41px; height:37px; border-radius:5px; }
            .icon_toparrow {width:23px; height:12px; margin:-7px 0 0 -12px; background-size:23px auto;}
    .footer_cont_copy {font-size:12px;}

    /* T:공지사항 */
    .section_notice_w {margin-top:85px;}
        .section_title {height:52px; line-height:52px; font-size:47px;}
        .notice_list{padding-top:30px;}
            .nl_inner{margin-top:30px;}
                .nl_text {font-size:21px; height:28px; line-height:28px;}
                .nl_date {margin-top:0; font-size:13px; color:#6b6b6b;}
    /* T:추진사업 */
    .section_service_w {margin-top:52px;}
        .service_list {width:calc(100% + 15px);}
            .sl_inner {width:50%; padding-right:15px;}
            .sl_inner:after {width:calc(100% - 15px);}
    /* T:경기아트 소개 */
    .section_info_w {min-height:auto; margin-top:85px;}
        .info_text_w {font-size:21px;}

    /* T:작가리스트 */
    .content_info_text {margin-top:35px; font-size:18px; line-height:40px;}
    .content_info_text * {font-size:18px !important; line-height:32px !important;}
    .module_image_list_w {margin-top:85px; }
        .module_image_list {margin-top:-14px; width:calc(100% + 28px); }
            .mdil_inner {width:33.3%; padding:28px 28px 0 0; }
    .list_more_w {display:block; width:100%; border:1px solid #efefef; border-width:1px 0; border-radius:0;}
        .list_more_text {position:static; margin:0; background:none;}
            .list_more_text .ir {font-size:14px; z-index:0; color:#888;}
    /* T:작가엔드 */
    .section_artist_w {margin-top:50px;}
    .article_artist_box {margin-top:85px;}
        .slide_text_title {font-size:21px;}
        .slide_info_list {padding-top:5px; font-size:16px;}
            .sil_cont {margin-top:5px;}
        .artist_box_list {margin-top:32px; }
            .article_artist_box .content_title_c {font-size:27px !important;}
            .content_title_c + p {margin-top:35px !important;}
            .abl_inner, .article_artist_box * {font-size:16px !important; line-height:33px !important;}
        .artist_qa_list {}
                .qat_title {font-size:40px;}
                [class^="qa_text_"] {padding-left:40px; font-size:21px; line-height:34px;}
    #artist_slide_swiper_container {padding-top:30px;}
    .swiper-slide-item-caption {font-size:14px; padding-top:5px;}
    .swiper-pagination-bullet {width:10px; height:10px; margin:0 4px;}
    .swiper-pagination-bullet-active {width:22px; height:10px; }

    /* T:프로그램리스트 */
    .list_title {font-size:25px; line-height:27px;}
    .section_programlist_w {margin-top:85px; width:100%;}
        .program_list {width:103%; margin-top:-85px; position:relative;}
            .pl_inner {width:33.3%; padding:85px 3% 0 0;}
    .select_box_w {}
        .select_box_w select {width:135px; height:27px; line-height:27px; font-size:25px; background-position:right center;}
            [class^="ptext_"] {font-size:21px;}
            .ptext_date {font-size:16px !important;}
            .ptext_name:after {height:100%; top:0;}
    /* T:프로그램엔드 */
    .program_poster_w {margin-top:50px;}
        .program_name_w {margin-top:25px;}
            .pn_title {margin-right:20px;}
            .pn_collaborate {padding-left:30px;}
            .pn_collaborate:after {width:6px;}
    .program_name_w {font-size:28px;}
        .pn_date {margin-top:5px; font-size:26px;}
        .program_info_box {margin-top:85px;}
            .info_title {font-size:31px;}
            .info_cont,
            .info_cont p span {font-size:21px !important; line-height:40px !important;}
        .program_down_w {margin-top:85px;}
            .button_down_text {font-size:31px;}
    /* T:협력사업자 */
    #business-artgg-image-swiper-container .swiper-pagination {bottom:0;}
    .section_artgg_text {padding-left:0;}
    #business-artgg-image-swiper-container {position:relative;}
    .bns_text {display:block; margin-top:50px; font-size:21px; padding-left:0; line-height:32px;}
    .business_list_box,
    .artgg_artist_list_box {margin-top:130px;}
        .business_info_w .module_image_list_w {margin-top:40px;}
            .business_info_w .module_image_list {margin-top:-2%; width:102%;}
                .business_info_w .mdil_inner {padding:2% 2% 0 0;}
        .artgg_artist_list {margin-top:35px;}
            .aal_name {font-size:21px; padding-top:18px;}
    .business_info_w .mdil_cont:after {border-width:5px;}
    /* T:공지사항 상세 */
    .board_view_area {margin-top:35px;}
    .top_title_faq {height:50px; }
        .stit_area {margin-top:10px;}
        .board_title {font-size:18px;}
        [class^="stit_regist"] {font-size:12px;}
        .stit_regist_end {margin-top:3px;}
    .view_area {padding:20px 15px; }
        .view_area * {font-size:16px; line-height:24px !important;}


    /* T:보도자료 */
    .report_list_w {margin-top:25px;}
        .report_list_table th {font-size:20px;}
        .report_list_table td {font-size:16px;}
    /* T : 모듈 가로타입 리스트 : 미디어룸 */
    .mediaroom_vod_w {}
        .module_media_list_w {padding-top:13px; overflow-x:auto; overflow-y:hidden;}
    .mediaroom_vod_w,
    .module_media_list_w{float:none; width:100%; border-width:0 1px 1px;}
        .horizontal_thumbnail_w {display:flex;}
            .ht_inner {padding-right:15px;}
                .ht_cont_w {padding-left:0;}
                    .ht_img_w {top:0;}
                    .ht_link{width:152px; height:auto; padding:56.25% 0 0; line-height:24px;}
                        .ht_title_w {margin:5px 0; font-size:12px;}
        .vod_info_text {padding:4% 3%; font-size:18px; line-height:28px;}





}



/* 메인 : 모바일 제어 */
@media screen and (max-width:720px) {
    /* M:공통 */
    [class^="content_title"] {height:26px; line-height:28px !important; font-size:24px !important;}
    [class^="content_title_"]:after {width:5px;}
    .content_title_c {height:28px !important;}
    .content_title_d {margin-top:10px !important; padding-left:20px; font-size:18px !important; line-height:29px !important; }
    .content_title_d:after {top:2px !important; height:22px !important;}
    .icn {background-image:url('../img/m_set_icn.png'); background-size:105px auto;}
    /*.container {padding:75px 25px 95px;}*/
    .container {padding:85px 0;}
    .section_box_w {padding:0 25px;}
        .content_inner {padding:0;}
            .section_title {padding-left:25px; height:28px; line-height:28px; font-size:24px;}
            .section_title:after {width:5px;}
    /* M:팝업 */
    .layer_popup_w {top:20%; left:0; width:100%; text-align:center;}
        .layer_popup_inner {width:70%;}

    /* M:footer */
    .footer{margin-top:0; padding:0 25px 50px;}
    [class^="footer_cont_"] {display:block; float:left;}
    .footer_cont_l {width:54% !important;}
        .fcl_gc {position:relative; top:5px;}
        .footer_cont_copy {width:46% !important; padding-left:30px; box-sizing:border-box; font-size:13px;}
    .footer_cont_copy {padding-left:15px; font-size:11px;}
    .footer_cont_r {width:54% !important; padding-top:28px; float:none; clear:both;}
        .fcr_sl_cont {width:25%;}
            .footer_cont_l img {display:block; width:100%;}
            .fcr_sl_link {display:inline-block; padding:0 9px;}


    /* M:GNB */
    .common_gnb_w {height:75px; padding:0;}
    .artgg_lnb_w,
    .artgg_h1_logo {height:75px;}
        .artgg_lnb_w {}
            .artgg_h1_logo {width:147px; position:absolute; left:0; top:0;}
            /* gnb 리스트 */
            .artgg_lnb_inner{float:none; transition:right .5s ease 0s; padding-top:75px; position:absolute; right:-100%; top:0; z-index:999; width:100%; height:100%; box-sizing:border-box;}
                .slnb_inner {padding:0 28px; height:45px;}
                    .slnb_link {display:block; max-width:100%; }
                        .icon_logo_gnb {left:26px; margin-top:-15px; width:96px; height:30px; background-position:0 0;}
                    .artgg_allmenu_w {display:block; position:absolute; right:0; top:0; width:85px; height:100%;}
                        .btn_allmenu {display:block; position:absolute; right:0; top:0; width:85px; height:100%;}
                            .icon_gnb {left:50%; top:50%; margin:-13px 0 0 -18px; width:37px; height:27px; background-position:0 -30px;}
                        .artgg_lnb { transition:right .5s ease 0s; display:block; position:fixed; right:-100%; top:0; padding-top:75px; width:275px; height:100%; background-color:#fff;}
                /* 메뉴 닫기버튼 */
                .btn_allmenu_x {display:block; z-index:999; width:85px; height:75px; position:Absolute; right:0; top:0;}
                    .icon_close,
                    .btn_popup_close .icon_close {left:50%; top:50%; margin:-10px 0 0 -10px; width:20px; height:19px; background-position:-40px -30px;}
            /* 메뉴 오픈 */
            .gnb_open .artgg_lnb_inner {position:fixed; right:0;}
                .gnb_open .artgg_lnb {right:0;}
                .snb_bg {display:none; margin-left:0; width:100%;  position:fixed; left:0; top:0; background-color:rgba(0,0,0,.7);}
                .gnb_open .snb_bg {display:block; height:100vh !important;}
                /* 서브메뉴 */
                .gnb_open .slnb_inner {height:auto; min-height:45px; }
                    .slnb_link {height:45px; line-height:45px;}
                    .ssnb_inner:first-child .ssnb_link {padding-top:15px;}
                        .slnb_txt_box {margin-top:0; position:static; height:auto; line-height:45px;}
                        .menu_hover .slnb_txt_box:after {width:100%;}
                        .gnb_open .menu_hover .artgg_snb {position:static; height:auto !important; padding-bottom:30px;}
                            .icon_menu_arrow {display:block; right:0; top:50%; margin-top:-4px; width:16px; height:8px; background-position:-20px -60px; }
                            .menu_hover .icon_menu_arrow {background-position:0 -60px; }

    /* M:메인비주얼 */
    .section_visual_w {margin:0 25px; padding-bottom:30px; overflow:hidden;}
    #main-swiper-container .swiper-pagination {bottom:-30px !important;}
    .swiper-button-next:after, .swiper-button-prev:after {font-size:22px !important;}
    #artist_slide_swiper_container .swiper-button-color:before,
    #main-swiper-container .swiper-button-color:before{width:50px; height:50px; top:-5px;}
    #artist_slide_swiper_container .swiper-button-prev:before,
    #main-swiper-container .swiper-button-prev:before {right:0; left:auto; }
    #artist_slide_swiper_container .swiper-button-next:before,
    #main-swiper-container .swiper-button-next:before {left:0;}
    .swiper-button-color:after {top:-3px;}
    .swiper-button-next:after {right:-2px;}
    .swiper-button-prev:after {left:-2px;}
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {right:0;}
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {left:0;}
    .swiper-button-color:after {background-size:15px auto;}


    /* M:공지사항 */
    .section_notice_w {margin-top:95px; display:block;}
        .notice_cont_r,
        .notice_cont_l {float:none; width:100%;}
        .notice_cont_r{margin-top:15px;min-height:330px; padding-bottom:50px;}
            .notice_list {padding:17px 0;}
            .nl_inner {margin-top:15px;}
                .nl_text {height:22px; line-height:22px; font-size:18px; font-weight:600;}
                .nl_date {height:17px; line-height:18px; margin-top:5px; font-size:14px; color:#6b6b6b;}
                 .nl_text:after {width:5px;}
                 .nl_text,.nl_date {padding-left:25px;}
    #artist-thumb-swiper-pagination {bottom:-50px;}
    #artist-thumb-swiper-container .swiper-button-prev {left:-25px !important;}
    #artist-thumb-swiper-container .swiper-button-next {right:-25px !important;}

    /* M:추진사업
    .section_service_w {margin-top:95px;}
        .service_list {display:block; width:100%;}
            .sl_inner {width:100%; padding-right:0;}
            .sl_inner:after {width:100%;}
                .sl_cont {position:relative; overflow:hidden;}
                    .sl_box_image_w {float:left; width:45%; height:100%;}
                        .sl_img {}
                    .sl_box_inner {float:left; width:55%; }
                        .sl_box_text {min-height:auto; padding-bottom:45px; padding-top:10%;}
                            .sl_text_top {padding-right:0;}
                                .slt_text {margin-top:5px; height:auto; color:#888; -webkit-line-clamp:2;}
                                    .slt_info {padding-top:10px; padding-right:19%; font-size:12px;}
                                        .slt_info:after {width:20px;}
                                    .slt_date,
                                    .slt_date_text,
                                    .slt_text {font-size:12px; line-height:15px;}
                                    .slt_num {top:-14px; font-size:20px;}
                                    .slt_name {bottom:10px; font-size:18px;}*/

    /* M:추진사업 */
    .business_list_box {margin-top:80px;}
    .artgg_artist_list_box {margin-top:80px;}
    .business_end_w {padding:0 25px;}
    .service_list_w {overflow:hidden; overflow-x:auto; margin-left:25px; }
        .service_list {flex-wrap:nowrap; }
            .sl_inner {flex-shrink: 0; width:220px; padding:0 15px 0 0;}
            .sl_cont {color:#999;}
                .sl_box_text {position:static; padding-bottom:50px; min-height:auto;}
                    .sl_text_top {padding-right:0;}
                        .slt_num {top:-20px; font-size:20px; color:#999;}
                        .slt_info {font-size:14px;}
                        .slt_info:after {background-color:#999;}
                        .slt_text {height:auto; max-height:55px; font-size:12px;}
                        .slt_date, .slt_date_text {font-size:12px; font-weight:700;}
                        .slt_name {font-size:20px;}

    /* M:아트경기 소개 */
    .section_info_w {margin-top:95px; min-height:auto; box-sizing:border-box;}
        .info_image {width:25%;}
        .info_text_w {padding-left:8%; font-size:14px;}

    /* M:프로그램리스트 */
    .section_programlist_w {margin-top:50px;}
    .program_list {margin-top:-45px;}
    .pl_inner {width:50%; padding-top:45px;}
    .list_title {margin:0 25px; padding-left:19px; font-size:18px; line-height:27px;}
    .list_title:after {width:5px; top:2px; height:calc(100% - 6px);}
    .select_box_w select {width:95px; padding:0 30px 0 10px; font-size:18px; background-position:right center; background-size:30px auto;}
    [class^="ptext_"] {padding-left:15px; margin-top:3px; font-size:12px !important; line-height:1.3em;}
    .ptext_name {font-size:15px !important;}
    .ptext_name:after {width:4px; height:100%;}

    /* M:프로그램엔드 */
    .program_poster_w {margin-top:25px;}
    .pn_title {margin-right:8px;}
    .pn_collaborate {padding-left:17px;}
    .pn_collaborate:after {width:4px;}
    .program_name_w {margin-top:14px; font-size:18px;}
        .pn_date {font-size:15px;}
        .program_info_box {margin-top:45px;}
            .info_title {font-size:15px;}
            .info_cont,
            .info_cont p span {font-size:12px !important; line-height:24px !important;}
            .roadmap_box {min-height:215px;}
    .program_down_w {margin-top:55px;}
        .button_down_text {height:26px; line-height:20px;}
        .button_down_text+.button_down_text {margin-top:5px;}
            .btn_dw_txt {font-size:16px; padding-bottom:0;}
            .btn_dw_txt:after {height:1px;}
    .pg_gallery_w {padding-left:25px;}
        .pg_gallery_w .module_image_list_w {overflow:hidden; overflow-x:auto; padding:0 25px 0 0 !important;}
                .pg_gallery_w .module_image_list {flex-wrap:nowrap; }
                    .pg_gallery_w .mdil_inner {flex-shrink: 0; width:110px; padding:14px 14px 0 0;}

    /* M:작가리스트 */
    .content_info_text{font-size:14px; }
        .module_image_list_w {margin-top:50px; padding:0 25px;}
            .module_image_list {margin-top:-20px; width:calc(100% + 20px);}
                .mdil_inner {width:50%; padding:20px 20px 0 0;}
                    .module_image_list_w .mdil_cont:hover .mdil_text,
                    .module_image_list_w .mdil_cont:focus .mdil_text {position:absolute; left:0; top:50%; margin-top:-19px; font-size:12px; line-height:20px; height:38px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient: vertical;}
        .list_more_w {margin-top:40px; height:40px; line-height:40px; }
            .list_more_text .ir {font-size:12px;}

    /* M:작가엔드 */
    .content_info_text * {font-size:14px !important; line-height:22px !important;}
        .artist_name {left:0; font-size:12px !important;}
    .content_info_text {margin-top:20px; font-size:14px; line-height:24px;}
    .section_artist_w {margin-top:50px;}
    .slide_text_w {margin-top:5px;}
        .slide_text_title {font-size:12px;}
        .slide_info_list {padding-top:4px; font-size:12px;}
            .sil_cont {margin-top:2px;}
    .artist_box_list {margin-top:16px; }
    .abl_inner, .article_artist_box * {margin-top:7px !important; font-size:14px !important; line-height:21px !important;}
    .article_artist_box > * {padding-left:23px !important; }
    .content_title_c > * {margin-top:15px !important;}
    .article_artist_box {margin-top:50px;}
        .article_artist_box .content_title_c {font-size:22px !important; line-height:24px !important;}
    .artist_qa_list {margin-top:33px;}
        .aql_inner {padding-bottom:85px;}
            .abl_inner, .article_artist_box * {margin-top:20px !important; }
            .content_title_c {margin-top:0 !important;}
            .abl_inner, .article_artist_box * {margin-top:15px !important; line-height:20px !important;}
            .content_title_c + p {margin-top:15px !important;}
                [class^="qa_text_"] {font-size:20px;}
                .qa_text_a {margin-top:20px;}
                    .qat_title {font-size:30px;}
    .swiper-slide-item-caption {font-size:12px; }
    .swiper-button-color:before {width:30px; height:30px;}
    .swiper-button-prev:before,.swiper-button-next:before {left:0; top:0;}

    /* M: 협력사업자 */
    .section_artgg_text {min-height:auto;}
        .bns_artgg_logo {display:block;}
        .bns_text {font-size:18px; line-height:30px;}
    .section_artgg_text {padding:0 25px;}
    .artgg_artist_list_box {overflow:hidden;}
        .business_info_w .module_image_list_w {margin-top:20px;}
            .artgg_artist_list {margin-top:0; padding:0 25px; box-sizing:border-box;}
                .business_info_w .mdil_cont:after {border-width:4px;}
                    .all_link:after {height:2px;}
                        .aal_name {padding:12px 15px 0 0; font-size:16px;}


    /* M:공지사항 상세 */
    .top_title_faq {height:50px;}
    [class^="stit_regist"] {font-size:12px;}
    .stit_regist_end {margin-top:0;}
    .board_title {font-size:18px;}
    .view_area * {font-size:14px;}

    /* M:보도자료 */
    .report_list_w {margin-top:15px;}
        .report_list_table th {font-size:16px;}
        .report_list_table td {font-size:14px;}

    /* M:미디어룸 */
    .section_mediaroom_w {margin-top:50px;}
    .vod_info_text {font-size:16px; line-height:22px;}

}


