﻿@charset "utf-8";

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/NotoSansKR-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: bold;
    font-weight: 700;
    src: url('/fonts/NotoSansKR-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    src: url('/fonts/Montserrat-Bold.woff') format('woff');
}

/* RESET */
html,body{-webkit-text-size-adjust:none; font-family: 'Montserrat','Noto Sans KR', Dotum, 돋움, Arial, sans-serif !important; color:#000; font-weight:400; line-height: 1.4; letter-spacing: -0.018em;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,img,div {margin:0; padding:0;}
body {position:relative;}
img,fieldset{border:0}
button {background:none; border:0;}
ul,ol{list-style:none}
input,select{vertical-align:middle; background:#fff;}
em,address,i{font-style:normal}
table{border-collapse:collapse; border-spacing:0px; empty-cells:show; table-layout:fixed}
legend,caption{visibility:hidden; width:0; height:0; margin:0; padding:0; font-size:0; line-height:0}
a {text-decoration:none;color:#000;}
a:hover,a:focus {text-decoration:underline;}
input,button,select {outline:none; border-radius:0;}



/* 메인 : 태블릿 제어 */
@media screen and (min-width:768px) {

}