@charset "utf-8";

#business-artgg-image-swiper-container {
    width: 100% !important;
    height: auto;
    padding-bottom: 50px;
    background-color: #fff;
    box-sizing: border-box;

    text-align: center;
    font-size: 18px;
    background: #fff;
    /* background: #000; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#business-artgg-image-swiper-container .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100% !important;
    height: 0;
    padding-top: 56.25%;
    position: Relative;
    overflow: hidden;
}

#business-artgg-image-swiper-container .swiper-slide img {
    width: auto !important;
    height: 100% !important;

    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.target_youtube_view {
    display: block;
    width: 100%;
    height: 100%;
    position: Absolute;
    left: 0;
    top: 0;
}

#business-artgg-image-swiper-container .swiper-pagination-bullet-active {
    background-color: #000 !important;
}

